<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meal.mapper.AdminTasksMapper" >
  <resultMap id="BaseResultMap" type="com.meal.pojo.AdminTasks" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="taskKind" property="taskkind" jdbcType="INTEGER" />
    <result column="objectId" property="objectid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="tasktime" property="tasktime" jdbcType="TIMESTAMP" />
    <result column="donetime" property="donetime" jdbcType="TIMESTAMP" />
    <result column="adminId" property="adminid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, taskKind, objectId, username, status, tasktime, donetime, adminId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.meal.pojo.AdminTasksExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_admintasks
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_admintasks
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_admintasks
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.meal.pojo.AdminTasksExample" >
    delete from t_admintasks
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.meal.pojo.AdminTasks" >
    insert into t_admintasks (id, taskKind, objectId, 
      username, status, tasktime, 
      donetime, adminId)
    values (#{id,jdbcType=VARCHAR}, #{taskkind,jdbcType=INTEGER}, #{objectid,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{tasktime,jdbcType=TIMESTAMP}, 
      #{donetime,jdbcType=TIMESTAMP}, #{adminid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.meal.pojo.AdminTasks" >
    insert into t_admintasks
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskkind != null" >
        taskKind,
      </if>
      <if test="objectid != null" >
        objectId,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="tasktime != null" >
        tasktime,
      </if>
      <if test="donetime != null" >
        donetime,
      </if>
      <if test="adminid != null" >
        adminId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="taskkind != null" >
        #{taskkind,jdbcType=INTEGER},
      </if>
      <if test="objectid != null" >
        #{objectid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tasktime != null" >
        #{tasktime,jdbcType=TIMESTAMP},
      </if>
      <if test="donetime != null" >
        #{donetime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminid != null" >
        #{adminid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.meal.pojo.AdminTasksExample" resultType="java.lang.Integer" >
    select count(*) from t_admintasks
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_admintasks
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.taskkind != null" >
        taskKind = #{record.taskkind,jdbcType=INTEGER},
      </if>
      <if test="record.objectid != null" >
        objectId = #{record.objectid,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.tasktime != null" >
        tasktime = #{record.tasktime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.donetime != null" >
        donetime = #{record.donetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.adminid != null" >
        adminId = #{record.adminid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_admintasks
    set id = #{record.id,jdbcType=VARCHAR},
      taskKind = #{record.taskkind,jdbcType=INTEGER},
      objectId = #{record.objectid,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      tasktime = #{record.tasktime,jdbcType=TIMESTAMP},
      donetime = #{record.donetime,jdbcType=TIMESTAMP},
      adminId = #{record.adminid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.meal.pojo.AdminTasks" >
    update t_admintasks
    <set >
      <if test="taskkind != null" >
        taskKind = #{taskkind,jdbcType=INTEGER},
      </if>
      <if test="objectid != null" >
        objectId = #{objectid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tasktime != null" >
        tasktime = #{tasktime,jdbcType=TIMESTAMP},
      </if>
      <if test="donetime != null" >
        donetime = #{donetime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminid != null" >
        adminId = #{adminid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meal.pojo.AdminTasks" >
    update t_admintasks
    set taskKind = #{taskkind,jdbcType=INTEGER},
      objectId = #{objectid,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      tasktime = #{tasktime,jdbcType=TIMESTAMP},
      donetime = #{donetime,jdbcType=TIMESTAMP},
      adminId = #{adminid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>