<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meal.mapper.FoodMapper" >
  <resultMap id="BaseResultMap" type="com.meal.pojo.Food" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="foodname" property="foodname" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="origin_price" property="originPrice" jdbcType="REAL" />
    <result column="tagID" property="tagid" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="sellerID" property="sellerid" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="REAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="applicationtime" property="applicationtime" jdbcType="TIMESTAMP" />
    <result column="thoughtime" property="thoughtime" jdbcType="TIMESTAMP" />
    <result column="undercarriagetime" property="undercarriagetime" jdbcType="TIMESTAMP" />
    <result column="img_URL" property="imgUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, foodname, description, origin_price, tagID, price, sellerID, score, status, applicationtime, 
    thoughtime, undercarriagetime, img_URL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.meal.pojo.FoodExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_food
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_food
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_food
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.meal.pojo.FoodExample" >
    delete from t_food
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.meal.pojo.Food" >
    insert into t_food (id, foodname, description, 
      origin_price, tagID, price, 
      sellerID, score, status, 
      applicationtime, thoughtime, undercarriagetime, 
      img_URL)
    values (#{id,jdbcType=VARCHAR}, #{foodname,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{originPrice,jdbcType=REAL}, #{tagid,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{sellerid,jdbcType=VARCHAR}, #{score,jdbcType=REAL}, #{status,jdbcType=INTEGER}, 
      #{applicationtime,jdbcType=TIMESTAMP}, #{thoughtime,jdbcType=TIMESTAMP}, #{undercarriagetime,jdbcType=TIMESTAMP}, 
      #{imgUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.meal.pojo.Food" >
    insert into t_food
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="foodname != null" >
        foodname,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="originPrice != null" >
        origin_price,
      </if>
      <if test="tagid != null" >
        tagID,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="sellerid != null" >
        sellerID,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="applicationtime != null" >
        applicationtime,
      </if>
      <if test="thoughtime != null" >
        thoughtime,
      </if>
      <if test="undercarriagetime != null" >
        undercarriagetime,
      </if>
      <if test="imgUrl != null" >
        img_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="foodname != null" >
        #{foodname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="originPrice != null" >
        #{originPrice,jdbcType=REAL},
      </if>
      <if test="tagid != null" >
        #{tagid,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="sellerid != null" >
        #{sellerid,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=REAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="applicationtime != null" >
        #{applicationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="thoughtime != null" >
        #{thoughtime,jdbcType=TIMESTAMP},
      </if>
      <if test="undercarriagetime != null" >
        #{undercarriagetime,jdbcType=TIMESTAMP},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.meal.pojo.FoodExample" resultType="java.lang.Integer" >
    select count(*) from t_food
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_food
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.foodname != null" >
        foodname = #{record.foodname,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.originPrice != null" >
        origin_price = #{record.originPrice,jdbcType=REAL},
      </if>
      <if test="record.tagid != null" >
        tagID = #{record.tagid,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.sellerid != null" >
        sellerID = #{record.sellerid,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=REAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.applicationtime != null" >
        applicationtime = #{record.applicationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.thoughtime != null" >
        thoughtime = #{record.thoughtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.undercarriagetime != null" >
        undercarriagetime = #{record.undercarriagetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.imgUrl != null" >
        img_URL = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_food
    set id = #{record.id,jdbcType=VARCHAR},
      foodname = #{record.foodname,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      origin_price = #{record.originPrice,jdbcType=REAL},
      tagID = #{record.tagid,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=REAL},
      sellerID = #{record.sellerid,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=REAL},
      status = #{record.status,jdbcType=INTEGER},
      applicationtime = #{record.applicationtime,jdbcType=TIMESTAMP},
      thoughtime = #{record.thoughtime,jdbcType=TIMESTAMP},
      undercarriagetime = #{record.undercarriagetime,jdbcType=TIMESTAMP},
      img_URL = #{record.imgUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.meal.pojo.Food" >
    update t_food
    <set >
      <if test="foodname != null" >
        foodname = #{foodname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="originPrice != null" >
        origin_price = #{originPrice,jdbcType=REAL},
      </if>
      <if test="tagid != null" >
        tagID = #{tagid,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="sellerid != null" >
        sellerID = #{sellerid,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=REAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="applicationtime != null" >
        applicationtime = #{applicationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="thoughtime != null" >
        thoughtime = #{thoughtime,jdbcType=TIMESTAMP},
      </if>
      <if test="undercarriagetime != null" >
        undercarriagetime = #{undercarriagetime,jdbcType=TIMESTAMP},
      </if>
      <if test="imgUrl != null" >
        img_URL = #{imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meal.pojo.Food" >
    update t_food
    set foodname = #{foodname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      origin_price = #{originPrice,jdbcType=REAL},
      tagID = #{tagid,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      sellerID = #{sellerid,jdbcType=VARCHAR},
      score = #{score,jdbcType=REAL},
      status = #{status,jdbcType=INTEGER},
      applicationtime = #{applicationtime,jdbcType=TIMESTAMP},
      thoughtime = #{thoughtime,jdbcType=TIMESTAMP},
      undercarriagetime = #{undercarriagetime,jdbcType=TIMESTAMP},
      img_URL = #{imgUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>